/* Begin Footer component styles  */
footer {
    background-color: var(--main-color);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  footer > ul, li {
    font-weight: normal;
    font-size: 1.25rem;
    display: inline;
    margin: 1rem;
  }
  .footerlink {
    color: white;
    text-decoration:none;
  }
  .footerlink:hover {
    font-weight: 600;
  }
  /* End Footer component styles  */
  