nav {
    max-width: 1600px;
    margin: 0 auto;
}

.browse-page {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    margin: 0 auto;
}

.filter-title {
    margin-top:70px;
    padding: 5px 20px;
    border-radius:10px;
    font-size: 24pt;
    border-style: solid;
    display: inline-block;
}

.admin-framework_title {
    padding: 0 !important;
    text-align: left !important;
}

.filter-bar {
    border-radius: 10px 0 10px 10px;
    height: 100%;
    width: 225px;
    padding-bottom:50px;
    background-color: var(--main-color);
    align-content: center;
}

.browse-frameworks {
    max-width: 80%;
    padding: 50px;
    display: block;
}

.filter-bar { 
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font-size: 18pt;
}

.filters { 
    border-radius: 5px;
}

#filterForm {
    max-width: 100%;
}

.filterSelect {
    margin: 0.5rem;
    font-size: 12pt;
    width: 75%;
    border-radius: 5px;
}

.filterLabel {
    font-size: 14pt;
}

.browse-frameworks-list {
    background-color: white;
}

.browse-searchWrapper {
    display: inline-block;
    align-items: left;
    background-color: var(--main-color);
    width: 100%;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.browse-search {
    width: 900px;
    height: 30px;
    border-radius: 3px;
}

.search-icon {
    color: var(--grey-scale-light);
}

