.logo {
    height: 65%;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.registrationPage {
    overflow: scroll;
    margin: 50px auto;
    max-width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
}

.registration-header {
    color: var(--main-color);
    text-align: center;
    margin: 0 10px 10px 10px;
}

legend {
    color: var(--main-color);
}

input {
    border: none;
    outline: none;
    margin: 5px;
    width: 100%;
}

.input {
    background-color: white;
    border-radius: 5px;
}

form {
    min-width: 100px;
    display: block;
    margin: auto;
}

.button {
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    padding: 10px;
    background-color: var(--main-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    cursor: pointer;
}

.register {
    padding: 10px;
    display: block;
    text-align: center;
}