.guidelinesList-wrapper {
    max-height: 100%;
}

.guidelinesList-header {
    padding: 10px;
    align-content: center;
}

.guidelineList2 {
    max-width: 200px;
    overflow: scroll !important;
    max-height: 35%;
}

.guidelineList2 > li {
    display: block;
    color: white;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    word-wrap: break-word;
}

.guidelineList2 :hover {
    cursor: pointer;
}

.guidelineEdit2 {
    border-radius:10px;
    background-color: var(--alt-color-mute);
    padding: 1rem 2rem;
    height: 350px;
}
.guidelineArea2 {
    margin: 1rem auto;
    width: 95%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    max-height: 50%;
}
