#appHeader {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 4fr 1fr;
    grid-template-areas: "e f g";
  }

  #logo {
    grid-area: e;
    background-color: white;
    max-height: 65px;
    max-width: 65px;
    border-radius: 5px;
  }

  header {
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 4px;
  }

  #headerButtons {
    grid-area: g;
    padding: 10px 25px;
    float: right;
    text-align: right;
    display: block;
  }
  #headerButtons > Button {
    background-color: var(--main-color-mute);
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 1px;
    background-color: white;
  }