/* Begin homepage styles */

main#homePage {
    margin-top: 4.25rem;
    padding: 1rem;
  }
  @media screen and (min-width: 768px) {
    main#homePage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "a a"
                           "b c";
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
    }
    #home1 { grid-area: a; }
    #home2 { grid-area: b; }
    #home3 { grid-area: c; }
  }
  .homebox {
    background-color: var(--alt-color-mute);
    color: white;
    padding:2rem;
    border-radius: 20px;
  }
  /* End homepage styles */
  